@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0%;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }
body{
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* <= */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    animation-duration: 0.8s;
    transition: all 0.8s;

.app{
    text-align: center;
    max-width: 60%;
    align-self: center;
    
    .app-header{
        align-self: center;
        background-color: rgb(20, 20, 20);
        padding: 3rem;
        border-radius: 15px;

        #new-quote{
            float: right;
            padding: 0.6rem;
            border-radius: 5px;
            border: none;
            font-size: 15px;
            color: rgb(20, 20, 20);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }
        .text{
            clear: both;
            min-width: 80px;
            font-family: monospace;
            font-weight: 400;
            font-size: 30px;
            text-align: center;
            margin-top: 7%;
            animation-duration: 0.8s;
            transition: all 0.8s;
        }
        .author{
            font-family: Cormorant, italic;
            letter-spacing: 3px;
            font-weight: 400;
            font-size: 25px;
            text-align: end;
            padding: 2rem;
        }
        .twitter-btn{
            border: none;
            text-decoration: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 0.6rem;
            font-size: 20px;
            border-radius: 5px;
            color: rgb(20, 20, 20);
            float: left;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }

    }
  }


 @media screen and (max-width: 500px) {
    .text p{
        font-size: 20px;
    }
    .author p{
        font-size: 15px;
        letter-spacing: normal;
    }
    .twitter-btn button {
        font-size: 15px;
    }
 } }