@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0%;
    background-color: rgb(236, 183, 83);
}
.app{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    .app-header{
        margin: 8% 0;
        border: 3px solid rgb(230, 225, 225);
        border-radius: 5px;
        width: 700px;
        height: 500px;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       button{
        cursor: pointer;
        background: snow;
       }
       .text{
        padding: 2rem;
        font-size: 35px;
        
       }
       .author{
        font-size: 25px;
       }
    }
}